.skills {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
    border-top: 3px solid #ff9800;
}

.skills h2 {
    color: #ff9800;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ff9800;
    margin-bottom: 1rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
	margin-bottom: 1rem;
	width: 100%;
    padding: .5rem;
}

.skill__category {
    color: #ff9800;
    margin-bottom: .5rem;
}

.skill__category i {
    margin-right: .5rem;
}

.skill__skills {
    font-style: italic;
}

@media (min-width: 992px) {
    .skill {
        width: 50%;
    }
}