.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-bottom: 3px solid #2196f3;
	background-color: #fff;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
}

.toolbar__logo {
	color: #2196f3;
}

.toolbar__links {
	height: 0;
	overflow: hidden;
}

.toolbar__links--show {
	height: 100%;
	overflow: visible;
}

.toolbar__toggle {
	position: absolute;
	right: 1rem;
	top: .5rem;
	width: 2rem;
	height: 2rem;
	outline: none;
	border: 0;
	background-color: #fff;
	cursor: pointer;
}

.toolbar__toggle span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #ccc;
	margin: 0.5rem 0;
}

.toolbar__link {
	padding: 0.5rem 1rem;
	display: block;
	border-radius: 0.5rem;
	text-decoration: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
	margin: 0.5rem;
}

.toolbar__link i {
	margin-right: 0.5rem;
}

.toolbar__email {
	background-color: #f0f0f0;
	color: inherit;
}

.toolbar__email:hover {
	background-color: #f7f7f7;
}

.toolbar__github {
	background-color: #212121;
	color: #fff;
}

.toolbar__github:hover {
	background-color: #373737;
}

@media (min-width: 800px) {
	.toolbar {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.toolbar__toggle {
		display: none;
	}

	.toolbar__links {
		height: 100%;
		overflow: visible;
	}

	.toolbar__link {
		display: inline-block;
		margin: 0 0.5rem;
	}
}
